* {
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

:root {
    --font-roboto: 'Roboto', sans-serif;
    --font-roboto-mono: 'Roboto Mono', monospace;
}

body {
    margin: 0px;
    font-family: var(--font-roboto);
    background: #363636;
    color: #FFFFFF;
}

main {
    height: 100vh;
}

.whole-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    justify-content: space-between;
}

.top-section {
    display: inherit;
    flex-direction: column;
    align-items: center;
}

.top-section h1 {
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
    margin: 30px 0px 0px 0px;
}

.top-section h5 {
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
    line-height: 35px;
    margin: 0px;
}

.mid-section {
    display: inherit;
    flex-direction: column;
    align-items: center;
    background-color: rgb(45, 40, 46);
    padding: 0px 30px 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.gradient-ask {
    display: flex;
    flex-direction: row;
}

.gradient-ask p:first-child {
    font-family: var(--font-roboto);
    font-style: italic;
    font-size: 20px;
}

.gradient-ask p {
    font-family: var(--font-roboto);
    font-size: 20px;
}

.help-ask {
    font-family: var(--font-roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.generate {
    font-family: var(--font-roboto);
    color: #FFFFFF;
    text-shadow: -2px -1px 0 #000, 2px -1px 0 #000, -2px 1px 0 #000, 2px 1px 0 #000;
    padding: 10px 30px;
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
    background: rgba(62, 62, 62, 0.9);
    border-radius: inherit;
    cursor: pointer;
}

.button-main {}

.button-area {
    transition: 50ms;
    background: linear-gradient(rgba(77, 71, 225, 1), rgba(55, 252, 248, 1));
    border-radius: 360px;
    padding: 5px;
}

.button-area:hover {
    transform: scale(105%);
}

.bottom-section {
    display: inherit;
    flex-direction: column;
    align-items: center;
}

.bottom-section p {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
}

.generated {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin: 0px 0px 20px;
}

.text-format {
    width: 50vw;
    background: #363636;
    padding: 0px 10px;
    border-radius: 8px;
    text-align: center;
}

.text-format span {
    transition: 500ms;
    font-style: italic;
    font-weight: 900;
    color: rgb(238 111 111);
}

.text-format p {
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
}

.spacer {
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    width: 100%;
}

.industry .special_spacer {
    display: flex;
    flex: 1;
    /* justify-items: center; */
    justify-content: center;
    text-align: center;
}

.idea .special_spacer {
    display: flex;
    flex: 1;
    /* justify-items: center; */
    justify-content: center;
}

.primary-color .special_spacer {
    display: flex;
    flex: 1;
    /* justify-items: center; */
    justify-content: center;
}

.secondary-color .special_spacer {
    display: flex;
    flex: 1;
    /* justify-items: center; */
    justify-content: center;
}

.primary-color-display {
    transition: 50ms;
    cursor: pointer;
    width: 100%;
    /* background: lightgray; */
    border-radius: 360px;
    text-shadow: -1px -1px 0 rgb(37, 37, 37), 1px -1px 0 rgb(37, 37, 37), -1px 1px 0 rgb(37, 37, 37), 1px 1px 0 rgb(37, 37, 37);
}

.primary-color-display:hover {
    transform: scale(105%);
}

.secondary-color-display {
    transition: 50ms;
    cursor: pointer;
    width: 100%;
    /* background: lightgray; */
    border-radius: 360px;
    text-shadow: -1px -1px 0 rgb(37, 37, 37), 1px -1px 0 rgb(37, 37, 37), -1px 1px 0 rgb(37, 37, 37), 1px 1px 0 rgb(37, 37, 37);
}

.secondary-color-display:hover {
    transform: scale(105%);
}

.hand-icon {
    transition: 100ms;
    cursor: pointer;
}

.hand-icon:hover {
    transform: scale(110%);
}

.click-again {
    font-weight: 300 !important;
    font-size: 12px !important;
}

.industry {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    background: #363636;
    padding: 0px 10px;
    border-radius: 8px;
}

.idea {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    background: #363636;
    padding: 0px 10px;
    border-radius: 8px;
}

.primary-color {
    background: #363636;
    padding: 0px 10px;
    border-radius: 8px;
}

.secondary-color {
    background: #363636;
    padding: 0px 10px;
    border-radius: 8px;
}

.button-area {
    transition: 500ms;
}


/* Change Classes */

.rotate-icon {
    transform: rotate( -180deg);
    opacity: 40%;
}

.reload {
    transition: 200ms;
    font-style: normal;
    cursor: pointer;
}

.reload:hover {
    transform: rotatez(25deg) scale(140%);
}

.reload p {
    font-size: 25px;
}

.display-none {
    display: none;
}

a {
    color: lightblue;
    font-weight: bold;
    text-decoration: none;
}